# .NET Core / .NET 5+
bin/
obj/

# File di Log (Serilog o altri)
logs/
*.log
*.txt

# Visual Studio / Visual Studio Code
.vs/
.vscode/
*.user
*.userosscache
*.suo
.docstate

# Mac / Linux (se lavori in cross-platform)
.DS_Store

# File di build e cache
*.cache
TestResults/